* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #0000EE;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0;
}
h1, h2, h3 {
    margin: 0;
}
select,
input {
    display: block;
    margin: 0;
}
select,
input[type=text] {
    width: 100%;
    height: 24px;
}
input[type=checkbox] {
    width: 24px;
    height: 24px;
}
